// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
/*FLEX BOXES*/
.centered {
	@include centered;
}

.justify-content-between {
	@include justify-content(space-between);
}

.align-center {
	@include display-flex;
	@include align-items(center);
}

.align-center-right {
	@include display-flex;
	@include align-items(center);
	@include justify-content(flex-end);
}

.align-items-center {
	@include align-items(center);
}

.align-end {
	@include display-flex;
	@include align-items(flex);
	@include justify-content(flex-end);
}

.justify-flex-end {
	@include display-flex;
	@include justify-content(flex-end);
}

.justify--flex-end {
	@include justify-content(flex-end);
}

.justify-center {
	@include display-flex;
	@include justify-content(center);
}

.align-flex-end {
	@include display-flex;
	@include align-items(flex-end);
}

/*Padding*/
.xs-padding {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.sm-padding {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include responsive(xs) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.sm-padding-bottom {
	padding-bottom: 3rem;

	@include responsive(xs) {
		padding-bottom: 2rem;
	}
}

.md-padding {
	@include responsive(md-lg) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	@include responsive(sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	@include responsive(xs) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.md-padding-bottom {
	@include responsive(md-lg) {
		padding-bottom: 5rem;
	}

	@include responsive(sm) {
		padding-bottom: 4rem;
	}

	@include responsive(xs) {
		padding-bottom: 3rem;
	}
}

.md-padding-top {
	@include responsive(md-lg) {
		padding-top: 5rem;
	}

	@include responsive(sm) {
		padding-top: 4rem;
	}

	@include responsive(xs) {
		padding-top: 3rem;
	}
}

.lg-padding {
	@include responsive(md-lg) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	@include responsive(sm) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	@include responsive(xs) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.xl-padding {
	@include responsive(md-lg) {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	@include responsive(sm) {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}

	@include responsive(xs) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	@include responsive(mobile) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

/*Background*/
.background-black {
	background-color: var(--black-color);
	color: var(--white-color);
}

.background-primary {
	background-color: var(--primary-color);
	color: var(--white-color);

	.button-box.button-box {
		&.button-accent,
		&.button-bordered {
			@include button {
				@include on-event {
					background-color: transparent;
					color: var(--accent-color);
					border: 2px solid;

					svg {
						&.stroke-hover {
							path {
								stroke: var(--accent-color);
							}
						}

						&.stroke-fill {
							path {
								fill: var(--accent-color);
							}
						}
					}
				}
			}
		}
	}

	.button-box {
		&.icon-sixty-seconds {
			@include button {
				span.sixty-seconds {
					background-color: var(--primary-color);

					svg {
						path,
						text {
							fill: var(--white-color);
						}
					}
				}
			}
		}
	}
}

.background-secondary {
	background-color: var(--secondary-color);
	color: var(--white-color);

	.button-box.button-box {
		&.button-accent,
		&.button-bordered {
			@include button {
				@include on-event {
					background-color: transparent;
					color: var(--accent-color);
					border: 2px solid;

					svg {
						&.stroke-hover {
							path {
								stroke: var(--accent-color);
							}
						}

						&.stroke-fill {
							path {
								fill: var(--accent-color);
							}
						}
					}
				}
			}
		}
	}

	.button-box.button-box.icon-sixty-seconds > a span.sixty-seconds,
	.button-box.button-box.icon-sixty-seconds > span:not(.wpcf7-spinner) span.sixty-seconds,
	.button-box.button-box.icon-sixty-seconds > button span.sixty-seconds,
	.button-box.button-box.icon-sixty-seconds > input[type="submit"] span.sixty-seconds {
		background-color: var(--secondary-color);

		svg {
			path {
				fill: var(--white-color);
			}

			tspan {
				fill: var(--white-color);
			}
		}
	}
}

.background-accent {
	background-color: var(--accent-color);
	color: var(--white-color);

	.decoration {
		&.decoration-1 {
			background-color: rgba(255, 255, 255, 0.15);
			&:before {
				background-color: rgba(255, 255, 255, 15%);
			}
		}

		&.decoration-2 {
			background-color: rgba(255, 255, 255, 0.15);
		}
	}

	.underline-accent {
		border-color: var(--primary-color);
	}

	.checklist-ul ul li:before {
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"> <g id="Group_244" data-name="Group 244" transform="translate(-960 -1311)"> <circle id="Ellipse_37" data-name="Ellipse 37" cx="20" cy="20" r="20" transform="translate(960 1311)" fill="%23fff"></circle> <path id="Path_254" data-name="Path 254" d="M-15087.343-12686.385l6.3,6.3,12.435-12.434" transform="translate(16057.977 14018.305)" fill="none" stroke="%2325384A" stroke-width="3"></path> </g> </svg>');
	}

	.button-box.button-box {
		&.button-primary {
			@include button {
				@include on-event {
					background-color: transparent;
					color: var(--primary-color);
					border: 2px solid;

					svg {
						&.stroke-hover {
							path {
								stroke: var(--primary-color);
							}
						}
					}
				}
			}
		}
	}
}

.background-gray {
	background-color: var(--gray-color);
}

.background-gray-3 {
	background-color: var(--gray-color-3);
}

.background-white {
	background-color: var(--white-color) !important;

	.underline-accent {
		border-color: var(--accent-color);
	}
}

.background-pattern {
	background-image: url($image-url + "white-wall.jpg");
	background-size: cover;
	background-position: center;
}

.bg-image {
	background-size: cover;
	background-position: center;

	&.bg-fixed {
		@include responsive(md-lg) {
			background-attachment: fixed;
		}
	}
}

.background-image {
	@include absolute-corner;

	> img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	+ div {
		position: relative;
	}

	&:not(.no-overlay) {
		@include overlay;
	}

	&.overlay-v2 {
		@include overlay-v2;
	}
}

.overlay {
	@include overlay;

	> div {
		position: relative;
	}
}

/*Overlay*/
/*Colors*/
.text-white {
	p {
		color: inherit;
	}
}

.text-primary {
	color: var(--primary-color) !important;

	p {
		color: inherit;
	}
}

/*Others*/
.with-separator {
	> * {
		@include not-last-child {
			@include after {
				content: "";
				width: 118px;
				display: block;
				margin: 2.5rem auto;
				border-bottom: 1px dotted var(--white-color);
			}
		}
	}
}

.fullheight {
	min-height: 100vh;
}

.fullheight-desktop {
	@include responsive(md-lg) {
		min-height: 100vh;
	}
}

/*font family*/
.primary-font {
	font-family: var(--primary-font);
}

.secondary-font {
	font-family: var(--secondary-font);
}

.accent-font {
	font-family: var(--accent-font);

	@include headings {
		font-weight: 400;
		line-height: 1;
	}
}

/*font-size*/
.small-font-size {
	font-size: 14px;
}

.padding-left-right {
	@include responsive(md-lg) {
		padding-left: 4%;
		padding-right: 4%;
	}

	@include responsive(xs-sm) {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}

/*text-color*/
.accent-color {
	color: var(--accent-color);
}

.light-color {
	color: var(--light-color);
}

.half-opacity {
	opacity: 0.5;
}

/*Container*/
.small-container {
	@include responsive(sm-lg) {
		max-width: 815px;
	}
}

.extra-small-container {
	max-width: 400px;
}

.medium-container {
	@include responsive(xl) {
		max-width: 1140px;
	}
}

.large-container {
	@media (min-width: 1500px) {
		max-width: 1420px;
	}

	@media (min-width: 1600px) {
		max-width: 1520px;
	}

	@media (min-width: 1700px) {
		max-width: 1570px;
	}
}

/*margins*/
.no-margin {
	@include headings {
		margin-bottom: 0;
	}
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
	@include responsive(xs) {
		padding-right: var(--bs-gutter-x, 20px);
		padding-left: var(--bs-gutter-x, 20px);
	}
}

.color-white {
	color: var(--white-color);
}

.color-primary {
	color: var(--primary-color);
}

.content-margin {
	> * {
		@include not-last-child {
			margin-bottom: 1rem;
		}
	}
}

.underline-accent {
	border-bottom: 5px solid var(--accent-color);
}
