//-----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html,
body {
    overflow-x: hidden;
    margin: 0 !important;
    position: relative;

    &.menu-active {
        overflow: hidden;
    }
}

body {
    overflow: hidden;

    &.mega-menu-header-menu {
        .navbar-collapse {
            display: block !important;
        }

        .mobile-buttons {
            display: none !important;
        }
    }
}

main {
    @include responsive(xs-sm) {
        margin-top: 75px;
    }

    @include responsive(xxs) {
        margin-top: 65px;
    }
}

section {
    position: relative;
    overflow: hidden;
}

img {
    max-width: 100%;
}

p {
    @include last-child {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
}

.button-box.button-box {
    @include button {
        @include button-style;
    }

    .icon {
        margin-right: 10px;

        svg {
            width: 19px;
        }
    }

    &.button-fullwidth {
        @include button {
            width: 100%;
        }
    }

    &.button-accent {
        @include button {
            background-color: var(--accent-color);
            color: var(--white-color);

            @include on-event {
                background-color: var(--primary-color);
                color: var(--accent-color);

                svg {
                    &.fill-hover {
                        path {
                            fill: var(--accent-color);
                        }
                    }

                    &.stroke-hover {
                        path {
                            stroke: var(--accent-color);
                        }
                    }
                }
            }
        }
    }

    &.button-bordered {
        @include button {
            border-color: inherit;

            @include on-event {
                background-color: var(--secondary-color);
                color: var(--white-color);
                border-color: var(--secondary-color);
            }
        }
    }

    &.button-primary {
        @include button {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: var(--white-color);

            @include on-event {
                svg {
                    &.fill-hover {
                        path {
                            fill: var(--primary-color);
                        }
                    }

                    &.stroke-hover {
                        path {
                            stroke: var(--primary-color);
                        }
                    }
                }
            }
        }
    }

    &.button-white {
        @include button {
            border-color: var(--white-color);
            background-color: var(--white-color);
            color: var(--accent-color);

            @include on-event {
                background-color: var(--primary-color);
                color: var(--accent-color);
                border-color: var(--primary-color);
            }
        }
    }

    &.button-dark {
        @include button {
            border-color: var(--dark-color);
            background-color: var(--dark-color);
            color: var(--white-color);

            @include on-event {
                svg {
                    &.fill-hover {
                        path {
                            fill: var(--primary-color);
                        }
                    }

                    &.stroke-hover {
                        path {
                            stroke: var(--primary-color);
                        }
                    }
                }
            }
        }
    }

    &.button-secondary {
        @include button {
            border-color: var(--secondary-color);
            background-color: var(--secondary-color);
            color: var(--white-color);

            @include on-event {
                background-color: var(--primary-color) !important;
                color: var(--accent-color) !important;
                border-color: var(--accent-color);

                svg {
                    &.fill-hover {
                        path {
                            fill: var(--accent-color);
                        }
                    }

                    &.stroke-hover {
                        path {
                            stroke: var(--accent-color);
                        }
                    }
                }
            }
        }
    }

    &.button-big {
        @include button {
            font-size: 1.5rem;
            padding: 1.125rem 24px;

            @include responsive(xs-sm) {
                font-size: 21px;
            }
        }
    }

    &.icon-sixty-seconds {
        @include button {
            span.sixty-seconds {
                height: 50px;
                position: absolute;
                right: -30px;
                bottom: -20px;
                background-color: var(--accent-color);
                z-index: 1;
                border-radius: 50%;
                @include transition(300ms);
                padding-top: 5px;
                padding-left: 7px;

                tspan {
                    font-weight: 300;
                }
            }

            @include on-event {
                span.sixty-seconds {
                    top: 50%;
                    @include transform(translateY(-50%));
                    right: -40px;
                }
            }
        }
    }
}

.button-group-box {
    @include display-flex;

    .button-box {
        @include not-last-child {
            margin-right: 1rem;
        }
    }
}


@include inputs {
    @include input-style;
}


#wpadminbar {
    @media screen and (max-width: 600px) {
        position: fixed;
    }
}

.page-title {
    display: none;
}

.has-edit {
    position: relative;
    overflow: hidden;

    @include on-event {
        .edit-contents {
            @include transform(translateX(0));
            color: var(--white-color);
        }
    }
}

.edit-holder {
    position: absolute;
    left: 0;
    top: 20px;

    .edit-contents {
        z-index: 3;
        background-color: var(--primary-color);
        padding: 10px 20px;
        display: inline-block;
        color: var(--white-color);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        border-radius: 0 30px 30px 0;
        border: none;
        @include transform(translateX(-100%));

        @include responsive(xs-sm) {
            display: none;
        }
    }
}

.swiper-buttons {
    @include responsive(mobile) {
        @include display-flex;
        @include justify-content(center);
        margin-top: 2rem;
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--gray-color-2);
    font-size: 11px;
    font-weight: bold;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-prev {
    left: -50px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-next {
    right: -50px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    border: 2px solid var(--gray-color-2);
    border-radius: 50px;
    font-size: 20px;

    @include responsive(mobile) {
        position: static;
        margin: 0;

        @include not-last-child {
            margin-right: 2rem;
        }
    }
}

.swiper-pagination {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
            background: var(--primary-color);
            width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
            height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
        }
    }
}

.stars {
    .stars-holder {
        >span {
            @include not-last-child {
                margin-right: 5px;
            }
        }
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;

        path {
            fill: #FFCC00;
        }

        @include not-last-child {
            margin-right: 5px;
        }
    }

    .gray-star {
        display: inherit;

        svg {
            background-color: var(--gray-color-2);
        }
    }

    .green-star {
        svg {
            background-color: #00b67a;

            path {
                fill: var(--white-color);
            }
        }
    }
}

.grid-box {
    padding: 48% 1rem 8% 1rem;
    @include transition(500ms);
    overflow: hidden;

    .background-image {
        @include transition(500ms);

        @include before {
            @include responsive(xs-sm) {
                background: #000 !important;
                opacity: 0.5 !important;
                @include transition(300ms);
            }
        }
    }

    .heading-box,
    .button-box {
        z-index: 2;
    }

    .link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    .grid-inner {
        @include responsive(xs-sm) {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 2rem;

            h2 {
                margin-bottom: 0;
                border-bottom: 2px solid var(--accent-color);
                display: inline;
                line-height: 2;
            }
        }

        @include responsive(md-lg) {
            @include before-after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 0;
                background: rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            @include before {
                @include transition(500ms);
                left: 0;
            }

            @include after {
                @include transition(500ms);
                right: 0;
            }
        }
    }

    @include responsive(xs-sm) {
        padding: 50%;
    }

    @include on-event {
        .grid-inner {
            @include before-after {
                width: 100%;
            }

            .background-image {
                @include before {
                    @include responsive(xs-sm) {
                        opacity: 0.65 !important;
                    }
                }
            }
        }
    }
}

.image-info-box {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    .top-icon {
        @include responsive(md-lg) {
            max-width: 35px;
        }
    }

    .main-image {
        position: relative;
        padding: 20%;
        margin-bottom: 1.875rem;

        img,
        svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &.small-image {
        .main-image {
            padding: 12%;
        }
    }
}

.mySwiper-Testimonial {
    .swiper-slide {
        align-self: stretch;

        .swiper-holder {
            padding: 1.5rem 1.5rem 2.5rem 1.5rem;
            border-radius: 5px;
            background-color: var(--white-color);
            position: relative;

            .stars {
                margin-right: 1rem;
            }

            .day {
                @include responsive(mobile-xs) {
                    font-size: 0.75rem;
                }
            }

            .inner {
                max-width: 300px;

                .author-box {
                    position: absolute;
                    bottom: 1.5rem;
                    left: 1.5rem;
                }
            }
        }
    }
}

.icon-list {
    ul {
        li {
            .main-icon {
                margin-right: 10px;
            }

            @include not-last-child {
                margin-right: 1.875rem;
            }
        }
    }
}

.accordion-box {
    .accordion {
        .accordion-item {
            margin-bottom: 20px;
            padding: 2rem;
            border-radius: 5px;
            border: none;

            .accordion-button {
                background-color: transparent;
                font-size: 1.5rem;
                font-weight: 500;
                @include box-shadow(none);
                padding: 0;
                color: inherit;

                &:after {
                    width: 2rem;
                    height: 2rem;
                    background-size: 2rem;
                }

                .icon {
                    width: 2.5rem;
                    height: 2.5rem;
                    flex: 0 0 2.5rem;
                    margin-right: 1.25rem;
                }
            }

            .accordion-body {
                padding: 2rem 0 0 0;
            }
        }
    }

    &:not(.accordion-no-icon) {
        .accordion {
            .accordion-item {
                .accordion-body {
                    padding-left: 3.75rem;
                }
            }
        }
    }

    &.accordion-no-icon {
        .accordion {
            .accordion-item {
                .accordion-button {
                    font-size: 2.125rem;
                    padding: 0;

                    @include responsive(xs-sm) {
                        font-size: 1.75rem;
                    }

                    @include responsive(xs) {
                        font-size: 1.5rem;
                    }
                }

                .accordion-body {
                    padding-left: 0;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

.title-container {
    max-width: 915px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 3rem;

    >.inner {
        max-width: 737px;

        margin-left: auto;
        margin-right: auto;

        >div {
            @include not-last-child {
                margin-bottom: 1.5rem !important;
            }
        }
    }

    .description-box {
        font-size: 1.25rem;
    }

    .heading-box {
        h2 {
            margin-bottom: 1rem;
            font-weight: 600;
        }
    }

    &.title-container-v2 {
        padding: 4rem 3rem;

        @include responsive(xs-sm) {
            padding: 3rem 2rem;
        }
    }

    @include responsive(xs-sm) {
        padding: 2rem;
    }
}

.checklist-ul {
    ul {
        list-style: none;
        padding-left: 0;

        li {
            @include display-flex;

            @include before {
                content: '';
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><g id="Group_188" data-name="Group 188" transform="translate(-359 -335)"><circle id="Ellipse_16" data-name="Ellipse 16" cx="12.5" cy="12.5" r="12.5" transform="translate(359 335)" fill="%2303a9f4"/><path id="Path_177" data-name="Path 177" d="M8142.234,347.5l3.959,3.959,7.443-7.444" transform="translate(-7776.435 -0.237)" fill="none" stroke="%23fff" stroke-width="3"/></g></svg>');
                background-size: contain;
                height: 25px;
                width: 25px;
                flex: 0 0 25px;
                margin-right: 14px;
                margin-top: 3px;
            }

            @include not-last-child {
                margin-bottom: 14px;
            }
        }

    }
}

.checklist-two-col {
    ul {
        @media(min-width: 481px) {
            @include display-flex;
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-.5 * var(--bs-gutter-x));
            margin-left: calc(-.5 * var(--bs-gutter-x));

            li {


                flex: 0 0 auto;
                width: 50%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                margin-top: var(--bs-gutter-y);
            }
        }


    }
}

/*
.contact-form-box {
    label {
        width: 100%;
        font-weight: 500;

        .wpcf7-form-control-wrap {
            display: block;

            @include inputs {
                width: 100%;
            }
        }
    }
}*/

.wpcf7 {
    label {
        width: 100%;
        margin-bottom: 1rem;
    }
}


.list-icon {
    li {
        a {
            span.icon {
                width: 31px;
                height: 31px;
                flex: 0 0 31px;
                margin-right: 10px;
                font-size: 1.25rem;
                background-color: var(--white-color);
                border-radius: 50px;
                color: var(--primary-color);
                padding: 7px;
            }

            @include on-event {
                color: var(--white-color);
                text-decoration: underline;
            }
        }

        @include not-last-child {
            margin-bottom: 1.25rem;
        }
    }
}

.decoration {
    position: absolute;

    &.decoration-1 {
        width: 114px;
        height: 93px;
        background-color: rgba(3, 169, 244, 0.15);
        @include transform(translate(24%, -2%));
        left: 50%;
        top: 0;
        border-radius: 14px;

        &:before {
            content: '';
            width: 57px;
            height: 47px;
            background-color: rgba(148, 154, 161, 15%);
            position: absolute;
            border-radius: 6px;
            @include transform(translate(-135%, -50%));

            @include responsive(xs) {
                width: 8vw;
                height: 6vw;
            }
        }

        @include responsive(xs) {
            width: 15vw;
            height: 12vw;
        }
    }

    &.decoration-2 {
        width: 216px;
        height: 177px;
        background-color: rgba(3, 169, 244, 0.15);

        z-index: -1;
        bottom: -30px;
        left: -30px;
        border-radius: 15px;

        @include responsive(xs) {
            width: 30vw;
            height: 23vw;
            bottom: -4vw;
            left: -4vw;
        }
    }
}